<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <title>About hotel </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/superslides.css" rel="stylesheet">
  <link href="css/jquery.fancybox.css" rel="stylesheet">
  <link href="css/select2.css" rel="stylesheet">
  <link href="css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/slick.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body class="not-front page-about">
  <div id="main">
    
      <div th:replace ="fragment/usertmp:: div#header1 "> </div> 
      <div th:replace ="fragment/usertmp:: div#header2 "> </div> 
    <div class="breadcrumbs1_wrapper">
      <div class="container">
        <div class="breadcrumbs1"><a href="index.html">Home</a><span>|</span>About us</div>
      </div>
    </div>
    <div id="about">
      <div class="container">
        <div class="title1">LITTLE ABOUT US</div>
        <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>
        <div class="about-slider-wrapper clearfix">
          <div class="about-slider-left">
            <figure class="about-slider-thumb"><img src="/images/about00.jpg" alt="" class="img-fluid"></figure>
            <div class="slider-for">
              <div class="slider-item"><img src="/images/about01.jpg" alt="" class="img-fluid"></div>
              <div class="slider-item"><img src="/images/about02.jpg" alt="" class="img-fluid"></div>
              <div class="slider-item"><img src="/images/about03.jpg" alt="" class="img-fluid"></div>
            </div>
          </div>
          <div class="about-slider-right">
            <div class="slider-nav">
              <div class="slider-item">
                <div class="txt1">Lorem ipsum dodor sit amet concateur, patrulo del suno lacrimosa.</div>
                <div class="txt2">
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. aliquam sodales blandit faucibus. Nunc finibus, mi in tincidunt aliquet, ex orci venenatis arcu, inibus, mi in lore ipsum dolor.</p>
                  <p>Quis.consequatnc neque et ex. Ut quis dictum ligula. Morbi porttitor mi id metus mollis. Sed dictum ligula finibus, mi in lore ipsum dolor. Morbi porttitor mi id metus mollis. Sed dictum ligula mi id metus msed dictum ligula nibus fbus, mi in lore ipsum dolor.</p>
                </div>

              </div>
              <div class="slider-item">
                <div class="txt1">Lorem ipsum dodor sit amet concateur, patrulo del suno lacrimosa.</div>
                <div class="txt2">
                  <p> Morem ipsum dolor sit amet, consectetur adipiscing elit. aliquam sodales blandit faucibus. Nunc finibus, mi in tincidunt aliquet, ex orci venenatis arcu, inibus, mi in lore ipsum dolor.</p>
                  <p>Auis.consequatnc neque et ex. Ut quis dictum ligula. Morbi porttitor mi id metus mollis. Sed dictum ligula finibus, mi in lore ipsum dolor. Morbi porttitor mi id metus mollis. Sed dictum ligula mi id metus mollised dictum ligula nibus finibus, mi in lore ipsum dolor.</p>
                </div>
                
              </div>
              <div class="slider-item">
                <div class="txt1">Lorem ipsum dodor sit amet concateur, patrulo del suno lacrimosa.</div>
                <div class="txt2">
                  <p> Mollised ipsum dolor sit amet, consectetur adipiscing elit. aliquam sodales blandit faucibus. Nunc finibus, mi in tincidunt aliquet, ex orci venenatis arcu, inibus, mi in lore ipsum dolor.</p>
                  <p>Consequatnc neque et ex. Ut quis dictum ligula. Morbi porttitor mi id metus mollis. Sed dictum ligula finibus, mi in lore ipsum dolor. Morbi porttitor mi id metus mollis. Sed dictum ligula mi id metus mollised dictum ligula nibus finibus, mi in lore ipsum dolor.</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-numbers-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="department1 clearfix animated" data-animation="fadeIn" data-animation-delay="300">
              <figure>
                <div class="yjsg-round-progress" data-start="0" data-end="95" data-range="200" data-border="5" data-percent="false" data-speed="20"></div>
              </figure>
              <div class="caption">Clients</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="department1 clearfix animated" data-animation="fadeIn" data-animation-delay="300">
              <figure>
                <div class="yjsg-round-progress" data-start="0" data-end="73" data-border="5" data-percent="false" data-speed="20"></div>
              </figure>
              <div class="caption">Rooms</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="department1 clearfix animated" data-animation="fadeIn" data-animation-delay="300">
              <figure>
                <div class="yjsg-round-progress" data-start="0" data-end="53" data-border="5" data-percent="false" data-speed="20"></div>
              </figure>
              <div class="caption">Staff</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="department1 clearfix animated" data-animation="fadeIn" data-animation-delay="300">
              <figure>
                <div class="yjsg-round-progress" data-start="0" data-end="44" data-border="5" data-percent="false" data-speed="20"></div>
              </figure>
              <div class="caption">Awards</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="our-team">
      <div class="container">
        <div class="title0">meet expert</div>
        <div class="title1">Our Team</div>
        <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>
        <div class="row">
          <div class="col-md-6 col-xl-3">
            <div class="our-team-wrapper">
              <div class="our-team-inner">
                <div class="our-team clearfix">
                  <figure><img src="images/team01.jpg" alt="" class="img-fluid">
                    <div class="social3-wrapper">
                      <ul class="social3">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </figure>
                  <div class="caption">
                    <div class="txt1">Chester Robinson</div>
                    <div class="txt2">DIRECTOR</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="our-team-wrapper">
              <div class="our-team-inner">
                <div class="our-team clearfix">
                  <figure><img src="images/team02.jpg" alt="" class="img-fluid">
                    <div class="social3-wrapper">
                      <ul class="social3">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </figure>
                  <div class="caption">
                    <div class="txt1">Kathryn Cobb</div>
                    <div class="txt2">SERVICE MANAGER</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="our-team-wrapper">
              <div class="our-team-inner">
                <div class="our-team clearfix">
                  <figure><img src="images/team03.jpg" alt="" class="img-fluid">
                    <div class="social3-wrapper">
                      <ul class="social3">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </figure>
                  <div class="caption">
                    <div class="txt1">Edith Owen</div>
                    <div class="txt2">SUPPORT</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="our-team-wrapper">
              <div class="our-team-inner">
                <div class="our-team clearfix">
                  <figure><img src="images/team04.jpg" alt="" class="img-fluid">
                    <div class="social3-wrapper">
                      <ul class="social3">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      </ul>
                    </div>
                  </figure>
                  <div class="caption">
                    <div class="txt1">Roger West</div>
                    <div class="txt2">MANAGER</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="what-client-say">
      <div class="container">
        <div class="title1">WHAT CLIENT SAY</div>
        <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>
        <div class="owl-carousel owl-carousel-testimonials">
          <div class="item">
            <div class="testimonial-wrapper">
              <div class="testimonial-inner">
                <div class="testimonial clearfix">
                  <div class="testimonial-caption"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."</div>
                  <div class="author clearfix">
                    <figure><img src="images/client01.jpg" alt="" class="img-fluid"></figure>
                    <div class="caption">
                      <div class="txt1">Nina Chambers</div>
                      <div class="txt2">Web Developer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-wrapper">
              <div class="testimonial-inner">
                <div class="testimonial clearfix">
                  <div class="testimonial-caption">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."</div>
                  <div class="author clearfix">
                    <figure><img src="images/client02.jpg" alt="" class="img-fluid"></figure>
                    <div class="caption">
                      <div class="txt1">Jeremy Carlson</div>
                      <div class="txt2">Web Developer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-wrapper">
              <div class="testimonial-inner">
                <div class="testimonial clearfix">
                  <div class="testimonial-caption">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."</div>
                  <div class="author clearfix">
                    <figure><img src="images/client03.jpg" alt="" class="img-fluid"></figure>
                    <div class="caption">
                      <div class="txt1">Josie Howell</div>
                      <div class="txt2">Web Developer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-wrapper">
              <div class="testimonial-inner">
                <div class="testimonial clearfix">
                  <div class="testimonial-caption">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."</div>
                  <div class="author clearfix">
                    <figure><img src="images/client01.jpg" alt="" class="img-fluid"></figure>
                    <div class="caption">
                      <div class="txt1">Nina Chambers</div>
                      <div class="txt2">Web Developer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-wrapper">
              <div class="testimonial-inner">
                <div class="testimonial clearfix">
                  <div class="testimonial-caption">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."</div>
                  <div class="author clearfix">
                    <figure><img src="images/client02.jpg" alt="" class="img-fluid"></figure>
                    <div class="caption">
                      <div class="txt1">Jeremy Carlson</div>
                      <div class="txt2">Web Developer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-wrapper">
              <div class="testimonial-inner">
                <div class="testimonial clearfix">
                  <div class="testimonial-caption">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ullamcorper, purus et iaculis bibendum, felis justo vestibulum velit, ut bibendum ante urna vitae mi."</div>
                  <div class="author clearfix">
                    <figure><img src="images/client03.jpg" alt="" class="img-fluid"></figure>
                    <div class="caption">
                      <div class="txt1">Josie Howell</div>
                      <div class="txt2">Web Developer</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   <div th:replace ="fragment/usertmp:: div#foot "> </div> 
      
  <script src="js/jquery.min.js"></script>
  <script src="js/superfish.js"></script>
  <script src="js/jquery.superslides.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/select2.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/slick.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/yjsg.yjsgroundprogress.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</body>

</html>