<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>ĐẶT PHÒNG</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="css/superslides.css" rel="stylesheet">
        <link href="css/jquery.fancybox.css" rel="stylesheet">
        <link href="css/select2.css" rel="stylesheet">
        <link href="css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/slick.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/ok.css" rel="stylesheet">
    </head>
    <body>


        <form action="reservation.php" method="post">
            
            
            
            <div class="elem-group">
                <label for="name">Your Name</label>
                <input type="text" id="name" name="visitor_name" placeholder="John Doe" pattern=[A-Z\sa-z]{3,20} required>
            </div>
            <div class="elem-group">
                <label for="email">Your E-mail</label>
                <input type="email" id="email" name="visitor_email" placeholder="john.doe@email.com" required>
            </div>
            <div class="elem-group">
                <label for="phone">Your Phone</label>
                <input type="tel" id="phone" name="visitor_phone" placeholder="498-348-3872" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
            </div>
            <hr>
            <div class="elem-group inlined">
                <label for="adult">Adults</label>
                <input type="number" id="adult" name="total_adults" placeholder="2" min="1" required>
            </div>
            <div class="elem-group inlined">
                <label for="child">Children</label>
                <input type="number" id="child" name="total_children" placeholder="2" min="0" required>
            </div>
            <div class="elem-group inlined">
                <label for="checkin-date">Check-in Date</label>
                <input type="date" id="checkin-date" name="checkin" required>
            </div>
            <div class="elem-group inlined">
                <label for="checkout-date">Check-out Date</label>
                <input type="date" id="checkout-date" name="checkout" required>
            </div>
            <hr> 
            <button type="submit">Book The Rooms</button>
        </form>
    </body>
</html>
