<!doctype html>
<html lang="en">

<head>
  <title>Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/font-awesome.css" rel="stylesheet">
  <link href="css/superslides.css" rel="stylesheet">
  <link href="css/jquery.fancybox.css" rel="stylesheet">
  <link href="css/select2.css" rel="stylesheet">
  <link href="css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/slick.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body class="not-front page-details">
  <div id="main">
    <div class="search-wrapper">
      <div class="container">
        <div class="search-inner clearfix">
          <div class="search-field"><input type="text" class="form-control" value="" placeholder="Enter Your Search..."></div><a href="#" class="search-btn search-close"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="top-wrapper">
      <div class="top-inner" id="top-inner">
        <div class="top1-wrapper">
          <div class="container">
            <div class="top1 clearfix">
              
              <div class="social-wrapper">
                <ul class="social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
              <div class="account dropdown"><a class="dropdown-toggle" href="#" role="button" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/my-account.jpg" alt="" class="img-fluid">My Account</a>
                <div class="dropdown-menu" aria-labelledby="dropdownAccount"><a class="dropdown-item" href="#">EDIT PROFILE</a><a class="dropdown-item" href="#">SIGN OUT</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="top2-wrapper">
          <div class="container">
            <div class="top2 clearfix">
              <header>
                  <div class="title1">ROYAL CITY</div>
              </header>
              <nav class="navbar_ navbar navbar-expand-md clearfix"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav sf-menu clearfix">
                    <li class="nav-item sub-menu sub-menu-2"><a href="#home" class="nav-link">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <div class="sf-mega">
                        <ul>
                          <li><a href="index-1.html">Winter Hotel</a></li>
                          <li><a href="index.html">Summer Hotel</a></li>
                          <li><a href="index.html">Scrolled Menu Style</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About us</a></li>
                    <li class="nav-item"><a href="rooms.html" class="nav-link">Our Rooms</a></li>
                    <li class="nav-item"><a href="contacts.html" class="nav-link">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumbs1_wrapper">
      <div class="container">
        <div class="breadcrumbs1"><a href="index.html">Home</a><span>|</span>Details</div>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div class="title1">MODERN DELUX DELVATORE</div>
        <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>
        <div class="booking2-wrapper">
          <div class="">
            <div class="booking-inner clearfix">
              <form action="javascript:;" class="form1 clearfix">
                <div class="col1 c1">
                  <div class="input1_wrapper"><label>Check in</label>
                    <div class="input1_inner"><input type="text" class="form-control input datepicker" placeholder="Check in"></div>
                  </div>
                </div>
                <div class="col1 c2">
                  <div class="input1_wrapper"><label>Check out</label>
                    <div class="input1_inner"><input type="text" class="form-control input datepicker" placeholder="Check out"></div>
                  </div>
                </div>
                <div class="col2 c3">
                  <div class="select1_wrapper"><label>Adults</label>
                    <div class="select1_inner"><select class="select2 select" style="width: 100%">
                        <option value="1">1 Adult</option>
                        <option value="2">2 Adults</option>
                        <option value="3">3 Adults</option>
                        <option value="4">4 Adults</option>
                      </select></div>
                  </div>
                </div>
                <div class="col2 c4">
                  <div class="select1_wrapper"><label>Children</label>
                    <div class="select1_inner"><select class="select2 select" style="width: 100%">
                        <option value="1">Children</option>
                        <option value="2">1 Child</option>
                        <option value="3">2 Children</option>
                        <option value="4">3 Children</option>
                        <option value="5">4 Children</option>
                      </select></div>
                  </div>
                </div>
                <div class="col2 c5">
                  <div class="select1_wrapper"><label>Rooms</label>
                    <div class="select1_inner"><select class="select2 select" style="width: 100%">
                        <option value="1">1 Room</option>
                        <option value="2">2 Rooms</option>
                        <option value="3">3 Rooms</option>
                        <option value="4">4 Rooms</option>
                      </select></div>
                  </div>
                </div>
                <div class="col3 c6"><button type="submit" class="btn-form1-submit">CHECK AVAILABILITY</button></div>
              </form>
            </div>
          </div>
        </div>
        <div class="slider2-wrapper">
          <div class="slider-for2">
            <div class="slider-item"><img src="images/gallery01.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery02.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery03.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery04.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery05.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery06.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery07.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery08.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery09.jpg" alt="" class="img-fluid"></div>
            <div class="slider-item"><img src="images/gallery10.jpg" alt="" class="img-fluid"></div>
          </div>
          <div class="slider-nav2">
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb01.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb02.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb03.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb04.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb05.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb06.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb07.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb08.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb09.jpg" alt="" class="img-fluid"></div>
            </div>
            <div class="slider-item">
              <div class="slider-item-inner"><img src="images/thumb10.jpg" alt="" class="img-fluid"></div>
            </div>
          </div>
        </div>
        <div class="details-wrapper clearfix">
          <div class="txt1">159 REVEW<div class="small-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
          </div>
          <div class="txt2">MODERN DELUX DELVATORE</div>
          <div class="txt3">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas elementum eros nibh, eu gravida lorem placerat id. In nec urna vel libero finibus vestibulum et in dolor. Duis porttitor, neque et rhoncus commodo, nunc nisi condimentum sem, non consequat felis lacus sed tortor. Aliquam erat volutpat.</p>
            <p>Etiam nec vulputate justo. Maecenas et dolor finibus, efficitur leo ac, commodo tellus. Proin vestibulum felis sit amet euismod tristique. Morbi ac quam at purus finibus finibus vel a tellus. Proin sit amet vehicula risus, et mattis metus. Phasellus quis tellus vestibulum, ornare metus ac, bibendum mi. Mollis at odio id, venenatis aliquet lacus.</p>
            <p>Nulla at ex sed leo tristique hendrerit. Curabitur dolor justo, feugiat sed elementum tincidunt, efficitur et eros. Nulla facilisi. Aliquam erat volutpat. Suspendisse feugiat commodo massa non sagittis. Nullam elementum eleifend nunc vitae imperdiet. Nam non erat condimentum, lacinia urna ac, mollis purus. Cras nisl lorem, blandit eu neque quis, porta tristique nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ligula arcu, dapibus a efficitur at, egestas a tellus. Pellentesque in aliquam lectus.</p>
          </div>
          <div class="details-caption">
            <div class="txt1">01</div>
            <div class="txt21">MODERN DELUX ROOM</div>
          </div>
        </div>
        <div class="details2-wrapper">
          <div class="row">
<!--            <div class="col-md-4">
              <div class="our-rooms-icons">
                <div class="our-rooms-icon">
                  <figure><img src="images/ic14.png" alt="" class="img-fluid"></figure>
                  <div class="our-rooms-icon-txt1">Car Parking Available</div>
                  <div class="our-rooms-icon-txt2">INCLUDES</div>
                </div>
                <div class="our-rooms-icon">
                  <figure><img src="images/ic12.png" alt="" class="img-fluid"></figure>
                  <div class="our-rooms-icon-txt1">Breakfast</div>
                  <div class="our-rooms-icon-txt2">INCLUDES</div>
                </div>
                <div class="our-rooms-icon">
                  <figure><img src="images/ic13.png" alt="" class="img-fluid"></figure>
                  <div class="our-rooms-icon-txt1">Transfer from Airport</div>
                  <div class="our-rooms-icon-txt2">INCLUDES</div>
                </div>
                <div class="our-rooms-icon">
                  <figure><img src="images/ic11.png" alt="" class="img-fluid"></figure>
                  <div class="our-rooms-icon-txt1">Free WiFi AROUND the DELVATORE</div>
                  <div class="our-rooms-icon-txt2">INCLUDES</div>
                </div>
              </div>
            </div>-->
<!--            <div class="col-md-4">
              <div class="our-rooms-icons">
                <div class="our-rooms-icon">
                  <figure><img src="images/ic15.png" alt="" class="img-fluid"></figure>
                  <div class="our-rooms-icon-txt1">Security safe Available</div>
                  <div class="our-rooms-icon-txt2">INCLUDES</div>
                </div>
                <div class="our-rooms-icon">
                  <figure><img src="images/ic17.png" alt="" class="img-fluid"></figure>
                  <div class="our-rooms-icon-txt1">Restaurant</div>
                  <div class="our-rooms-icon-txt2">DOESN’T INCLUDE</div>
                </div>
                <div class="our-rooms-icon">
                  <figure><img src="images/ic18.png" alt="" class="img-fluid"></figure>
                  <div class="our-rooms-icon-txt1">Air Conditioning</div>
                  <div class="our-rooms-icon-txt2">AVAILABLE</div>
                </div>
                <div class="our-rooms-icon">
                  <figure><img src="images/ic16.png" alt="" class="img-fluid"></figure>
                  <div class="our-rooms-icon-txt1">GRAND CASINO Hotel DELVATORE</div>
                  <div class="our-rooms-icon-txt2">100$ FREE CHIPS INCLUDES</div>
                </div>
              </div>
            </div>-->
            <div class="col-md-4">
              <div class="details2-info">
                <div class="check1">LOREM IPSUM: <span>AVAILABLE</span></div>
                <div class="check1">DEPOSIT: <span>REQUIRED 20%</span></div>
                <div><a href="#" class="details2-link">
                    <div class="txt1">$750.00 <span>TOTAL</span></div>
                    <div class="txt2">RESERVE THIS ROOM</div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
        <div id="google_map"></div>
        <div class="share-to-frends-wrapper clearfix">
          <div class="share-to-friends clearfix">
            <div class="share-to-friends-txt">Share to friends:</div>
            <div class="share-to-friends-icons">
              <ul class="social4 clearfix">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="blog-tags clearfix">
            <div class="blog-tags-txt">Tags:</div>
            <div class="blog-tags-tags"><a href="#">Furniture</a>, <a href="#">Gridgum</a>, <a href="#">Chair</a></div>
          </div>
        </div>
        <div class="comment-block2 clearfix">
          <figure><img src="images/author1.jpg" alt="" class="img-responsive"></figure>
          <div class="caption">
            <div class="txt1">Review by <a href="#">Katherine</a></div>
            <div class="txt2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</div>
          </div>
        </div>
        <div class="title3">ADD REVIEW</div>
        <div id="note"></div>
        <div id="fields">
          <form id="ajax-contact-form" class="form-horizontal clearfix" action="javascript:;">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group"><label for="inputName2">Name <span>*</span></label><input type="text" class="form-control" id="inputName2" name="name" value="" placeholder=""></div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group"><label for="inputEmail">Email <span>*</span></label><input type="text" class="form-control" id="inputEmail" name="email" value="" placeholder=""></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"><label for="inputMessage2">Comments <span>*</span></label><textarea class="form-control" rows="5" id="inputMessage2" name="content" placeholder=""></textarea></div>
              </div>
            </div><button type="submit" class="btn-default btn-cf-submit">send your message</button>
          </form>
        </div>
      </div>
    </div>
      
    <div th:replace ="fragment/usertmp:: div#foot "> </div> 
    
  <script src="js/jquery.min.js"></script>
  <script src="js/superfish.js"></script>
  <script src="js/jquery.superslides.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/select2.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/slick.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="http://ditu.google.cn/maps/api/js?sensor=false.js"></script>
  <script src="js/googlemap.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>
</body>

</html>