<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SUMMER HOTEL </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/superslides.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/css/select2.css" rel="stylesheet">
    <link href="/css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="front" data-spy="scroll" data-target="#top-inner" data-offset="0">
<div id="main">
    <div class="search-wrapper">
        <div class="container">
            <div class="search-inner clearfix">
                <div class="search-field"><input type="text" class="form-control" value="" placeholder="Enter Your Search..."></div><a href="#" class="search-btn search-close"><i class="fa fa-times" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="top-wrapper top-wrapper-dark">
        <div class="top-inner" id="top-inner">
            <div class="top1-wrapper">
                <div class="container">
                    <div class="top1 clearfix">

                        <div class="social-wrapper">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="account dropdown"><a class="dropdown-toggle" href="/login" role="button" id="dropdownAccount2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sign in</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownAccount2"><a class="dropdown-item" href="#">EDIT PROFILE</a><a class="dropdown-item" href="#">SIGN OUT</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top2-wrapper">
                <div class="container">
                    <div class="top2 clearfix">
                        <header>
                            <div class="logo_wrapper"><a href="index.html" class="logo"><img src="/images/logo-white.png" alt="" class="img-fluid"></a></div>
                        </header>
                        <nav class="navbar_ navbar navbar-expand-md clearfix"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                                <ul class="nav navbar-nav sf-menu clearfix">
                                    <li class="nav-item sub-menu sub-menu-2"><a href="#" class="active nav-link">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <div class="sf-mega">
                                            <ul>
                                                <li th:each="hotel:${hotels}">
                                                    <a th:href="@{${'/hotel/' + hotel.id}}" th:text='${hotel.name.substring(0, 2)}'> </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a href="/about" class="nav-link">About us</a></li>
                                    <li class="nav-item"><a href="/rooms" class="nav-link">Our Rooms</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home" class="">
        <div id="home-inner" class="home-inner" >
            <div id="slides_wrapper" class="">
                <div id="slides">
                    <ul class="slides-container">
                        <li><img src="/images/slide01.jpg" alt="" class="img"></li>
                        <li><img src="/images/slide04.jpg" alt="" class="img"></li>
                        <li><img src="/images/slide03.jpg" alt="" class="img"></li>
                        <li><img src="/images/slide02.jpg" alt="" class="img"></li>
                        <li><img src="/images/slide05.jpg" alt="" class="img"></li>
                        <li><img src="/images/slide06.jpg" alt="" class="img"></li>
                    </ul>
                </div>
            </div>
            <div class="slide-text-wrapper">
                <div class="container">
                    <div class="slide-text clearfix">
                        <div class="img1"><img src="/images/slide-logo.png" alt="" class="img-fluid"></div>
                        <div class="txt1"><span th:text="${h.name}"><i><img src="/images/slide-logo2.png" alt="" class="img-fluid"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-wrapper">
            <div class="container">
                <div class="booking-inner clearfix">
                    <form action="javascript:;" class="form1 clearfix">
                        <div class="col1 c1">
                            <div class="input1_wrapper"><label>Check in</label>
                                <div class="input1_inner"><input type="date" class="form-control input datepicker" placeholder="Check in"></div>
                            </div>
                        </div>
                        <div class="col1 c2">
                            <div class="input1_wrapper"><label>Check out</label>
                                <div class="input1_inner"><input type="date" class="form-control input datepicker" placeholder="Check out"></div>
                            </div>
                        </div>
                        <div class="col2 c3">
                            <div class="select1_wrapper"><label>Adults</label>
                                <div class="select1_inner"><select class="select2 select" style="width: 100%">
                                    <option value="1">1 Adult</option>
                                    <option value="2">2 Adults</option>
                                    <option value="3">3 Adults</option>
                                    <option value="4">4 Adults</option>
                                </select></div>
                            </div>
                        </div>
                        <div class="col2 c4">
                            <div class="select1_wrapper"><label>Children</label>
                                <div class="select1_inner"><select class="select2 select" style="width: 100%">
                                    <option value="1">Children</option>
                                    <option value="1">1 Child</option>
                                    <option value="2">2 Children</option>
                                    <option value="3">3 Children</option>
                                    <option value="4">4 Children</option>
                                </select></div>
                            </div>
                        </div>
                        <div class="col2 c5">
                            <div class="select1_wrapper"><label>Rooms</label>
                                <div class="select1_inner"><select class="select2 select" style="width: 100%">
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <option value="4">4 Rooms</option>
                                </select></div>
                            </div>
                        </div>
                        <div class="col3 c6"><button type="submit" class="btn-form1-submit">CHECK AVAILABILITY</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="top-wrapper"></div>
    <div id="about">
        <div class="container">
            <div class="title1">LITTLE ABOUT US</div>
            <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>
            <div class="about-slider-wrapper clearfix">
                <div class="about-slider-left">
                    <figure class="about-slider-thumb"><img src="/images/about00.jpg" alt="" class="img-fluid"></figure>
                    <div class="slider-for">
                        <div class="slider-item"><img src="/images/about01.jpg" alt="" class="img-fluid"></div>
                        <div class="slider-item"><img src="/images/about02.jpg" alt="" class="img-fluid"></div>
                        <div class="slider-item"><img src="/images/about03.jpg" alt="" class="img-fluid"></div>
                    </div>
                </div>
                <div class="about-slider-right">
                    <div class="slider-nav">
                        <div class="slider-item">
                            <div class="txt1" th:text="${h.country + ' ,' + h.city + ' ,' + h.address}" style="font-style: italic;"></div>
                            <div class="txt2">
                                <p th:text="${h.description}"></p>

                            </div>

                        </div>
                        <div class="slider-item">
                            <div class="txt1">Lorem ipsum dodor sit amet concateur, patrulo del suno lacrimosa.</div>
                            <div class="txt2">
                                <p> Morem ipsum dolor sit amet, consectetur adipiscing elit. aliquam sodales blandit faucibus. Nunc finibus, mi in tincidunt aliquet, ex orci venenatis arcu, inibus, mi in lore ipsum dolor, Nunc finibus, mi in tincidunt aliquet, ex orci venenatis.</p>
                                <p>Auis.consequatnc neque et ex. Ut quis dictum ligula. Morbi porttitor mi id metus mollis. Sed dictum ligula finibus, mi in lore ipsum dolor. Mi in lore ipsum dolor.</p>
                            </div>

                        </div>
                        <div class="slider-item">
                            <div class="txt1">Lorem ipsum dodor sit amet concateur, patrulo del suno lacrimosa.</div>
                            <div class="txt2">
                                <p> Mollised ipsum dolor sit amet, consectetur adipiscing elit. aliquam sodales blandit faucibus. Nunc finibus, mi in tincidunt aliquet, ex orci venenatis arcu, inibus, mi in lore ipsum dolor.</p>
                                <p>Consequatnc neque et ex. Ut quis dictum ligula. Morbi porttitor mi id metus mollis. Sed dictum ligula finibus, mi in lore ipsum dolor. Morbi porttitor mi id metus mollis. Sed dictum ligula mi id metus mollised dictum ligula nibus finibus, mi in lore ipsum dolor.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rooms">
        <div class="container">
            <div class="title1">OUR ROOMS</div>
            <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="room-wrapper">
                        <div class="room-inner">
                            <div class="room">
                                <figure><img src="/images/room04.jpg" alt="" class="img-fluid">
                                    <figcaption>
                                        <div class="txt1">SPECIAL</div>
                                        <div class="txt2">START FROM $<span th:text="${spMinPrice}"></span>.00</div>
                                    </figcaption>
                                </figure>
                                <div class="caption">
                                    <div class="txt1">Grand Delux Room</div>

                                    <div class="txt3">Lorem ipsum dolor sit amet, con cateur non troppo di sarono. El brave al mundo.</div>
                                    <div class="txt4"><a href="/details/special">VIEW DETAIL<i class="fa fa-caret-right" aria-hidden="true"></i></a></div>
                                </div>
                                <div class="select-txt"><a href="/details/special"><span>SELECT THIS ROOM<i class="fa fa-angle-right" aria-hidden="true"></i></span></a></div>
                                <div class="room-icons">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="room-wrapper">
                        <div class="room-inner">
                            <div class="room">
                                <figure><img src="/images/room05.jpg" alt="" class="img-fluid">
                                    <figcaption>
                                        <div class="txt1">VIP</div>
                                        <div class="txt2">START FROM $<span th:text="${vpMinPrice}"></span>.00</div>
                                    </figcaption>
                                </figure>
                                <div class="caption">
                                    <div class="txt1">King Delux Room</div>

                                    <div class="txt3">Lorem ipsum dolor sit amet, con cateur non troppo di sarono. El brave al mundo.</div>
                                    <div class="txt4"><a href="/details/vip">VIEW DETAIL<i class="fa fa-caret-right" aria-hidden="true"></i></a></div>
                                </div>
                                <div class="select-txt"><a href="/details/vip"><span>SELECT THIS ROOM<i class="fa fa-angle-right" aria-hidden="true"></i></span></a></div>
                                <div class="room-icons">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="room-wrapper">
                        <div class="room-inner">
                            <div class="room">
                                <figure><img src="/images/room06.jpg" alt="" class="img-fluid">
                                    <figcaption>
                                        <div class="txt1">NORMAL</div>
                                        <div class="txt2">START FROM $<span th:text="${nmMinPrice}"></span>.00</div>
                                    </figcaption>
                                </figure>
                                <div class="caption">
                                    <div class="txt1">Classic Room</div>

                                    <div class="txt3">Lorem ipsum dolor sit amet, con cateur non troppo di sarono. El brave al mundo.</div>
                                    <div class="txt4"><a href="/details/normal">VIEW DETAIL<i class="fa fa-caret-right" aria-hidden="true"></i></a></div>
                                </div>
                                <div class="select-txt"><a href="/details/normal"><span>SELECT THIS ROOM<i class="fa fa-angle-right" aria-hidden="true"></i></span></a></div>
                                <div class="room-icons">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragment/usertmp :: div#foot"></div>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/superfish.js"></script>
    <script src="/js/jquery.superslides.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/select2.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>