<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <title>Contacts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/css/superslides.css" rel="stylesheet">
  <link href="/css/jquery.fancybox.css" rel="stylesheet">
  <link href="/css/select2.css" rel="stylesheet">
  <link href="/css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
  <link href="/css/owl.carousel.css" rel="stylesheet">
  <link href="/css/slick.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body class="not-front page-contacts">
  <div id="main">
    <div class="search-wrapper">
      <div class="container">
        <div class="search-inner clearfix">
          <div class="search-field"><input type="text" class="form-control" value="" placeholder="Enter Your Search..."></div><a href="#" class="search-btn search-close"><i class="fa fa-times" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="top-wrapper">
      <div class="top-inner" id="top-inner">
        <div class="top1-wrapper">
          <div class="container">
            <div class="top1 clearfix">
             
              <div class="social-wrapper">
                <ul class="social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
              <div class="account dropdown"><a class="dropdown-toggle" href="#" role="button" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/my-account.jpg" alt="" class="img-fluid">My Account</a>
                <div class="dropdown-menu" aria-labelledby="dropdownAccount"><a class="dropdown-item" href="#">EDIT PROFILE</a><a class="dropdown-item" href="#">SIGN OUT</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="top2-wrapper">
          <div class="container">
            <div class="top2 clearfix">
              <header>
                  <div class="title1">ROYAL CITY</div>
              </header>
              <nav class="navbar_ navbar navbar-expand-md clearfix"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav sf-menu clearfix">
                      <li class="nav-item sub-menu sub-menu-2"><a href="#" class="active nav-link">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="sf-mega">
                                    <ul>
                                        <li th:each="hotel:${hotels}">
                                            <a th:href="@{${'/hotel/' + hotel.id}}" th:text='${hotel.name}'> </a></li>
                                    </ul>
                               </div>
                        </li>
                    <li class="active nav-item"><a href="contacts.html" class="active nav-link">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="breadcrumbs1_wrapper">
      <div class="container">
        <div class="breadcrumbs1"><a href="index.html">Home</a><span>|</span>Contacts</div>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <div class="title1">YOU HAVE SUCCESSFULLY BOOKED</div>

      </div>
    </div>
      
   
    
</html>